body {
  font-size: 10px;
  text-align: center;
  -webkit-box-pack: center; /*packages boxes and centers website*/
}

#gameboard {
  width: 31.2em;
  height: 31.2em;
  margin: 0 auto;
}

.cell {
  border: blue solid 1px;
  width: 10em;
  height: 10em;
  /*display: inline-block;*/
  float: left;
}

.row {
  /*box-sizing: border-box;*/
}

.radio {
  float: right;
  margin: 0px 150px 100px 0px;
}

.score {
  float: left;
  margin: 0px 0px 100px 150px;
}
