body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-align: center;
  background-image: url("images/Death_Star.png");
  background-size: cover;
  background-color: black;
  -webkit-box-pack: center; /*packages boxes and centers website*/
}

.cell {
  border: black solid 2px;
  width: 10em;
  height: 10em;
  /*display: inline-block;*/
  float: left;
}

.row {
  /*box-sizing: border-box;*/
}

aside {
  width: 50vw;
  margin: 0 auto;
}

div .board {
  margin: 100px;
  background-color: gray;
}

div .playerselect {
  background-color: gray;
  border: black solid 1px;
}

div .scoreboard {
  background-color: #383838;
  border: black solid 1px;
}

div #scores {
  border: black solid 1px;
}

div #players {
  border: black solid 1px;
}

#gameboard {
  width: 31.2em;
  height: 31.2em;
  margin: 0 auto;
}




